ul{
    margin: 0;
    padding: 0;
}
.footer {
    /* padding: 10px; */
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1e94c3;
    margin-left: -7%;
    margin-right: -10.5%;
    height: 215px;
}
.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
}
.footer ul li a{
    color: white;
    text-decoration: none;
}
p{
    margin-top: 50px;
    margin-bottom: 1rem;
}