.product-list-container {
  margin: 20px auto;
  max-width: 1200px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.product-list-header {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #343a40;
}

.product-list-table {
  width: 100%;
  border-collapse: collapse;
}

.product-list-table th,
.product-list-table td {
  border: 1px solid #dee2e6;
  padding: 12px;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  color: #495057;
}

.product-list-table th {
  background-color: #1e94c3;
  color: #ffffff;
}

.product-list-table td img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 4px;
}

.action-icon {
  cursor: pointer;
  font-size: 18px;
  margin-right: 8px;
}

.delete-icon {
  color: #dc3545;
}

.edit-icon {
  color: #007bff;
}

.adjust-update-link {
  text-decoration: none;
}

.adjust-update-link:hover .edit-icon {
  color: #0056b3;
}

.adjust-update-link:hover {
  text-decoration: underline;
}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #1e94c3;
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: #1e94c3;
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: #1e94c3;
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #1e94c3;
    --bs-pagination-active-border-color: #1e94c3;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0;
    list-style: none;
}
.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
}

.edit-icon {
    color: #1e94c3;
}
.confirmButton{
    /* display: inline-block; */
    background: #1e94c3;
    margin-left: 10px;

}