<div class="user-auth">
  <div *ngIf="!showLogin" class="card">
    <div class="card-header">
      <h1>User Signup</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="signUpForm" class="common-form" (ngSubmit)="signUp()">
        <input  type="text" class="form-input" formControlName="name" placeholder="Enter User Name"/>
        <p class="invalid-input " ><span *ngIf="signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched">Please enter a valid name</span></p>

        <input type="email" class="form-input" formControlName="email" placeholder="Enter User Email"/>
        <p class="invalid-input"><span *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">Please enter a valid email</span></p>

        <input type="password" class="form-input" formControlName="password" placeholder="Enter User Password"/>
        <p class="invalid-input"><span *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">Password must be at least 6 characters long</span></p>

        <input type="password" class="form-input" formControlName="confirmPassword"placeholder="Confirm Password"/>
        <p class="invalid-input"><span *ngIf="signUpForm.hasError('mismatch') && signUpForm.get('confirmPassword')?.touched">Passwords do not match</span></p>

        <button [disabled]="signUpForm.invalid" class="form-button">Sign Up</button>
      </form>
      <p class="footer">Already Have Account? <a (click)="openLogin()">Click Here</a></p>
    </div>
  </div>

  <div *ngIf="showLogin" class="card">
    <div class="card-header">
      <h1>User Login</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" class="common-form" (ngSubmit)="login()">
        <p class="error-p">{{authError}}</p>
        <input
          type="email"
          class="form-input"
          formControlName="email"
          placeholder="Enter User Email"
        />
        <p class="invalid-input my-1 "><span *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">Please enter a valid email</span></p>

        <input
          type="password"
          class="form-input"
          formControlName="password"
          placeholder="Enter User Password"
        />
        <p class="invalid-input my-1"><span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Password must be at least 6 characters long</span></p>

        <button [disabled]="loginForm.invalid" class="form-button">Login</button>
      </form>
      <p class="footer">Want to Create Account? <a (click)="openSignUp()">Click Here</a></p>
      <!-- <button (click)="show()" >Click</button> -->
    </div>
  </div>
</div>
