body {
  font-family: sans-serif;
  background-color: aliceblue;
}
.container {
  margin-left: 5%;
  margin-right: 5%;
}
.common-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}
.form-input {
  height: 35px;
  margin-bottom: 20px;
  border: 1px solid #88c6df;
  padding-left: 15px;
  color: grayrgb(49, 48, 48);;
}
.form-button {
  height: 35px;
  border: 1px solid #88c6df;
  color: rgb(49, 48, 48);;
  cursor: pointer;
}
.error-p{
  color: red;
}

.message-p{
  color: green;
  text-align: center;
}

.carousel-caption {
  background-color: #0000007d;
  border-radius: 10px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: black;
  border-radius: 5px;
}

.invalid-input{
  color: red;
  font-size: 12px;
  margin-top:-20px
}
button:disabled{
  cursor: not-allowed;
}
.max-width{
  width: 100%;
}



.background{
    
    background: #1e94c3;
    
    }

    .color-me{
      color:white;
  }

  .whiteText{
    text-decoration: none;
     color:white;
  }