.order-summary-container {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.order-details {
  display: inline-block;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-info {
  display: flex;
}

.product-img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  
}

.details {
  font-size: 16px;
}

.user-info {
  font-size: 16px;
}

.download-pdf {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-pdf:hover {
  background-color: #0056b3;
}
